.project-image {
    width: 50%;
    height: 250px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(97, 94, 94, .26);
    margin: 20px;
}

.project-image:hover {
    transform: rotate(0deg);
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(97, 94, 94, .26);
}

.projectParagraph {
    position: absolute;
    top: 27%;
    text-align: center;
    margin: 10px;
    width: 100%;
}

.anchorproject {
    cursor: pointer;
    position: absolute;
    bottom: 39%;
    margin: 10px;
    left: 45%;
    /* width: 0%; */
    color: #ed6c82 !important;
    text-align: center;
}